{
  "presets": ["es2015-node5", "react", "stage-0"],
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "app": "./app",
        "config": "./config",
        "client": "./app/client",
        "server": "./app/server"
      }
    }],
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
